.ad-footer
	.banner-leader

footer
	.container
		div
			h3 Secciones Uno TV
			ul
				+item-menu("nacional", "nacional.html")
				+item-menu("estados", "estados.html")
				+item-menu("internacional", "internacional.html")
				+item-menu("entretenimiento", "entretenimiento.html")
				+item-menu("deportes", "deportes.html")
				+item-menu("negocios", "negocios.html")
				+item-menu("programas", "programas.html")

		div
			h3 Síguenos en Facebook
			div(class="fb-like" data-href="https://www.facebook.com/UnoTVNoticias" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false")

			hr

			h3 Síguenos en Twitter
			a(href="https://twitter.com/unonoticias" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large") Seguir a @unonoticias
			script.
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

		div
			h3 Suscríbete al SMS
			p Uno Noticias envía GRATIS hasta tu celular las noticias más relevantes del día a través de un mensaje SMS. 
			p: strong Solo manda la palabra ALTA al 2222

			hr

			h3 Suscríbete al Newsletter
			form
				input(type="text" placeholder="Escribe tu correo electrónico", id="email", name="email")
				button#enviarNewsletter Enviar

.copyright
	.container
		.left
			p Derechos Reservados © Publicidad y Contenido Editorial S.A. de C.V. 2014
		.right
			p: a(href="#") Términos de Uso y Políticas de Privacidad
			
// = Styles
// ==============
link(rel='stylesheet', href='css/styles.css')
// = Scripts
// ==============
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
script.
	if (!window.jQuery) { document.write('<script src="js/jquery-1.8.3.min.js"><\/script>'); }
script(src="js/lib.min.js")
script(src='js/scripts.min.js')

// = Styles
// ==============
style(type='text/css').
	body { opacity: 1; }

				
