header
	div
		button(type="button").sb-toggle-left
			i.fa.fa-bars 
			| Secciones

		a(href='/').logo
			img(src="img/logo-unotv-dark.png" alt="Uno TV")
.top-content
	div
		a(href="#") 
			span Videos 
			| Virales
		a(href="#") No te lo pierdas

		a(href="#")#show-search
			i.fa.fa-search
			b Buscar
		.search
			form(name='gs', method='GET', action='http://www.unotv.com/noticias/buscador', onsubmit="return (this.q.value == '') ? false : true;")
				input(type='text', name='q', placeholder='Búsqueda')
				button(type='submit')
					i.fa.fa-search


//- Ad responsivo 1 (728 x 90) y (320 x 50)
+itemBanner('div-gpt-ad-1441245965219-12', 'top-banner')
