nav
	a(href='/').logo
		img(src="img/logo-unotv-dark.png" alt="Uno TV")
	#socialFollow.social-follows
		
	ul
		li.section 
			span Especiales 
			ul
				li
					a(href="starlite.html") Elecciones EEUU
		li.section 
			span Noticias 
			ul
				li
					a(href="#") Nacional
				li
					a(href="#") Internacional
				li
					a(href="#") Estados
				li
					a(href="#") Negocios
				li
					a(href="#") Deportes
				li
					a(href="#") Turismo
				li
					a(href="#") Entretenimiento
				li
					a(href="#") Ocho columnas en Uno
				li
					a(href="#") Todo en Uno
				li
					a(href="#") Investigaciones especiales
				li
					a(href="#") Alerta Amber

		li.section 
			span VideoBlogs 
			ul
				li
					span Opinión
					ul
						li
							a(href="#") Uno en Resumen
						li
							a(href="#") En la Mira
						li
							a(href="#") Federico Reyes Heroles
						li
							a(href="#") Jesús Silva-Herzog
						li
							a(href="#") Carlos Elizondo Mayer-Serra
						li
							a(href="#") María Amparo Casar
						li
							a(href="#") Leonardo Curzio
						li
							a(href="#") Javier Solórzano
						li
							a(href="#") Alejandra Cullen
						li
							a(href="#") Luis Rubio
						li
							a(href="#") Ana María Salazar
						li
							a(href="#") Pamela Cerdeira
						li
							a(href="#") Martha Anaya
						li
							a(href="#") Maite Azuela
						li
							a(href="#") Ana Paula Cinta 

		
				li
					span Entretenimiento
					ul
						li
							a(href="#") La Covacha
						li
							a(href="#") Top 5
						li
							a(href="#") En Foco
						li
							a(href="#") El Incorrecto

				li
					span.selected Estilo de vida
					ul
						li
							a(href="#") Dress Code
						li
							a(href="#") Trucos de mamá
						li
							a(href="#") Gaby Quiroga
						li
							a(href="#") Vida Zen


				li
					span Tecnología
					ul
						li
							a(href="#") Gadgets, Tec y Apps

				li
					span Cultura
					ul
						li
							a(href="#") Museo Soumaya
						li
							a(href="#") Bully Magnets

				li
					span Uno TV Bytes
					ul
						li
							a(href="#") Sexo Opuesto
						li
							a(href="#") HeladoCulto
						li
							a(href="#") Enciclopelis
						li
							a(href="#") Detrás D

		li.section 
			span Acerca De
			ul  
				li
					a(href="#") Términos de Uso
				li
					a(href="#") Políticas de Privacidad
				li
					a(href="#") Publicidad
				li
					a(href="#") Contacto
				li
					a(href="responsable-derecho-de-replica.html") Responsable Derecho de Réplica

	.copyright
		p Derechos Reservados © Publicidad y Contenido Editorial S.A. de C.V.
