a(href="alejandro-fernandez.html"): img(src="img/calendario-starlite/alejandro-fernandez.jpg")
a(href="angeles-azules.html"): img(src="img/calendario-starlite/angeles-azules.jpg")
a(href="enrique-iglesias.html"): img(src="img/calendario-starlite/enrique-iglesias.jpg")
a(href="marc-anthony.html"): img(src="img/calendario-starlite/marc-anthony.jpg")
a(href="carla-m-julieta-v-natalia-l.html"): img(src="img/calendario-starlite/carla-m-julieta-v-natalia-l.jpg")
a(href="ana-t-malu-melendi.html"): img(src="img/calendario-starlite/ana-t-malu-melendi.jpg")
a(href="julio-iglesias.html"): img(src="img/calendario-starlite/julio-iglesias.jpg")
a(href="chayanne.html"): img(src="img/calendario-starlite/chayanne.jpg")